node_modules

# yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# macOS files
.DS_Store

# GoLand (JetBrains IDE)
.idea/*
!.idea/runConfigurations
